@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    font-family: "Oswald", sans-serif;
    background-color: #395C93;
    border: 1px solid;
    min-height: 100vh;
    padding-bottom: 50px;
    
}

.container {
    background-image: url(imagenes/segmentospagina/gif1.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 97px 0;
    margin: 0 auto;
}

.content {
    min-height: 80px;
    background: #1F384F
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    translate: 20px;
    width: 150px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(169, 195, 216);
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #FFFFFF;
}


#menu {
    display: none;
}

.menu-icono {
    width: 40px;
}

.menu label {
    cursor: pointer;
    display: none;
}

h1 {
    margin: 80px 0 0 30px;
}

@media(max-width:991px) {
     
    .content {
        min-height: 70px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(
            90deg,
            rgb(68, 90, 138)0%,
            #1F384F 70%
        );
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}



.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt h1 {
    font-size: 68px;
    color: #f0ed5e; 
}

.header-txt p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: 0px 35px;
    
}

.buttons {
    padding: 0px 30px;
    border-radius: 5px;
}

.btn-1 {
    display: inline-block;
    padding: 5px 25px;
    border: 4px solid #3053c5;
    border-radius: 25px;
    margin-right: 350px;
    font-size: 15px;
    color: #f3f3f3;
}

.btn-1:hover {
    background-color: rgb(26, 101, 145);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #1F384F;
    color: #FFFFFF;
    height: 50px;
    position:fixed;
    bottom: 0;
    width: 250%;
}

.footer-link {
    width: 25%;
    padding: 0 15px;
}

.footer-link a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.footer-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(45, 48, 54)0%;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}